<footer>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <p>
                Meil on hea meel, et olete huvitatud meie uuest, suurepärasest korterelamust Tedre 33! <br> Oma kodu leidmisel on teile abiks 
            </p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <address>
                <strong>Siim Kabel</strong><br>
                kutseline kinnisvaramaakler (KKM: 130507)  <br>
                Eesti Kinnisvaramaaklerite Koja liige <br>
                tel: (+372) 51 522 31 <br>
                <a href="mailto: siim@prisma.ee ">siim@prisma.ee   </a> <br>
                Prisma Kinnisvarad <br>
                <a href="http://prisma.ee" target="_blank">www.prisma.ee</a>
            </address>
        </div>
        <div class="col-xs-12 col-sm-4">
            <address>
                <strong>Jelena Izutkina</strong><br>
                kinnisvaramaakler<br>
                tel: (+372) 56 813 255 <br>
                <a href="mailto:jelena@prisma.ee ">jelena@prisma.ee   </a> <br>
                Prisma Kinnisvarad <br>
                <a href="http://prisma.ee" target="_blank">www.prisma.ee</a>
            </address>
        </div>
    </div>
</footer>
